body {
  font-family: 'Tenor Sans', sans-serif;
  color: #124242;
  background: #ECECEC;
  display: initial;
}

a {
  text-decoration: none;
  color: white;
}

header {
  float: left;
  background-color: transparent;
  font-size: 1em;
  margin: 0;
  padding: 0;
  width: 100%;
}

#name h1 {
  font-size: 1.85em;
  font-weight: 400;
  text-align: center;
  color: #124242;
  padding: 20px 0 10px;
  margin: 0;
}

.menu {
  background-color: transparent;
  text-align: center;
  padding: 12px 0;
}

.menu ul {
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin: 0 15px;
}

.menu ul li a:hover {
  color: #124242;
}

.menu ul li a {
  color: grey;
}

.menu ul li ul {
  display: none;
}

.content {
  margin: 105px 5% 0 5%;
  background: white;
}

#main {
  font-family: 'Lora', serif;
  max-width: 100%;
  margin: 0 5%;
  padding: 10px 0 5%;
}

h1, h2, h3, h4, p {
  font-weight: 400;
}

#main h1 {
  font-size: 1.5em;
  text-align: center;
  color: #124242;
}

#main h2 {
  font-size: 1.25em;
  text-align: center;
  color: dimgray;
}

#main h3 {
  font-size: 1em;
  text-align: center;
  color: dimgray;
}

#main h4 {
  font-size: 0.75em;
  text-align: center;
  color: dimgray;
}

#main a {
  color: darkcyan;
  font-size: 1em;
}

#main ul {
  font-size: 1em;
}

#profile-pic {
  display: block;
  max-width: 150px;
  margin: 30px auto;
  border-radius: 100%;
}

#links {
  margin: 0 auto;
  max-width: 110px;
}

.links {
  list-style: none;
  padding: 0;
}

.links a {
  display: block;
  min-height: 25px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
}

.links li.twitter a {
  background-image: url('../../images/twitter.png');
}

.links li.linkedin a {
  background-image: url('../../images/linkedin.png');
}

.links li.github a {
  background-image: url('../../images/github.png');
}

img {
  max-width: 100%;
}

#elsa {
  padding-top: 10px;
  width: 100%;
}

#resume {
  max-width: 100%;
}

p {
  color: dimgray;
  font-size: 1em;
}

p + p {
  text-indent: inherit;
  color: dimgray;
  margin: 1.5em 0;
}

footer {
  font-family: 'Lora', serif;
  text-align: center;
  color: dimgray;
}

footer a {
  text-decoration: underline;
  color: darkcyan;
}

footer p {
  margin: 0.5em 0 0.5em;
}

footer p + p {
  margin: 0 0 0.5em;
}