@media screen and (min-width: 360px) {
  #resume {
    height: 550px;
  }
}

@media screen and (min-width: 480px) {

  .menu ul li {
    margin: 0 20px;
  }

  #resume {
    height: 750px;
  }
}

@media screen and (min-width: 600px) {
  #resume {
    height: 900px;
  }
}

@media screen and (min-width: 750px) {
  #resume {
    height: 950px;
  }
}

@media screen and (min-width: 840px) {
  #resume {
    height: 1050px;
  }
}

@media screen and (min-width: 950px) {

  #name h1 {
    float: left;
    font-size: 1.45em;
    padding: 13px 0 13px 10%;
  }

  .menu {
    float: right;
    padding-right: 8%;
    height: 30px;
  }

  .menu ul {
  	padding: 5px 0;
  }

  .content {
    margin: 0 5%;
  }

  #main {
    margin: 50px 5% 0 5%;
  }

  #profile-pic {
    margin: 20px 50px 115px 0;
    max-width: 180px;
    float: left;
  }

  p {
  	margin-top: 30px;
  }

  #links {
  	margin: 30px auto;
  }

  #resume {
    height: 1250px;
  }

  #selenium {
  	float: right;
  	max-width: 40%;
  	margin-top: 15px;
  }

  #selenium-alt {
  	margin: 0 0 0 60%;
  }

}

@media screen and (min-width: 1080px) {

  #resume {
    height: 1250px;
  }
}